<nav class="navbar">
    <div class="logo">
        <a href="/">
            <p>Movie Collection</p>
        </a>
    </div>
    <button class="hamburger" id="hamburger"><i class="fas fa-bars"></i></button>
    <ul class="nav-ul" id="nav-ul">
        <a href="/">
            <li class="nav-link">Home</li>
        </a>
        <a href="/user/login">
            <li class="nav-link">Login</li>
        </a>
    </ul>
</nav>